html, body {
  font-family: 'Arimo', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: 	#909090;
}

h1 {
  font-size: 32px;
  color: #909090;
}

h2 {
  color: #303030;
}

nav {
  position: fixed;
  font-family: 'Arimo', sans-serif;
  top: 10px;
  left: 10px;
  z-index: 9999;
  width: 100px;
  height: 50px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;
}

ul li {
 list-style: none;
}

li a {
 color: #A8A8A8;
 text-decoration: none;
 font-size: 18px;
 padding: 8px;
}

li a: hover {
 color: #888888;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container {
  flex-direction: column;
  height: 300px;
  width: 600px;
  margin: auto;
  text-align: justify;
}

#aboutpic {
  float: left;
  margin: 20px;
}

span {
  font-size: 14px;
}

body {
  padding: 1em;
}

address {
  display: inline-block;
}

.template {
  display: none;
}

.draft {
  display: none;
}

.byline {
  color: #777;
  flex-direction: column;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.draft {
  display: none;
}

.screenshot {
  border: 1px solid #000;
  align-content: center;
  height: 40%;
  width: 40%;
}

footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 50px;
   width: 100%;
   background: #FFF;
}

#contactIcons {
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
