.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container {
  height: 300px;
  width: 600px;
  margin: auto;
  text-align: justify;
}

address {
  display: inline-block;
  font-size: 12px;
}

.draft {
  display: none;
}

.screenshot {
  border: 1px solid #000;
  height: 45%;
  width: 40%;
  margin-bottom: 50px;
}

#contactIcons {
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

#aboutpic {
  float: left;
  margin: 20px;
  height: 40%;
  width: 20%;
}
