html, body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  color: #330066;
}

h2 {
  color: #66cccc;
}

nav {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  top: 10px;
  left: 0;
  z-index: 9999;
  width: 100px;
  height: 50px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
}

ul li {
 list-style: none;
}

li a {
 color: #000000;
 text-decoration: none;
 font-size: 25px;
 padding: 12px;
}

li a: hover {
 color: #7eb9be;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container {
  flex-direction: column;
  height: 300px;
  width: 600px;
  margin: auto;
  text-align: justify;
}

#aboutpic {
  float: left;
  margin: 20px;
}

span {
  font-size: 14px;
}

body {
  padding: 1em;
}

address {
  display: inline-block;
}

.template {
  display: none;
}

.draft {
  display: none;
}

.byline {
  color: #777;
  flex-direction: column;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.screenshot {
  border: 1px solid #000000;
  align-content: center;
  height: 40%;
  width: 40%;
}

#social {
  margin-bottom: 100px;
}
